<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TbHistoryMapper">

    <resultMap type="TbHistory" id="TbHistoryResult">
        <result property="id"    column="id"    />
        <result property="detailId"    column="detail_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTbHistoryVo">
        select id, detail_id, user_id, create_time from tb_history
    </sql>

    <select id="selectTbHistoryList" parameterType="TbHistory" resultMap="TbHistoryResult">
        <include refid="selectTbHistoryVo"/>
        <where>
            <if test="detailId != null "> and detail_id = #{detailId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectTbHistoryById" parameterType="Long" resultMap="TbHistoryResult">
        <include refid="selectTbHistoryVo"/>
        where id = #{id}
    </select>

    <insert id="insertTbHistory" parameterType="TbHistory" useGeneratedKeys="true" keyProperty="id">
        insert into tb_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detailId != null">detail_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detailId != null">#{detailId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTbHistory" parameterType="TbHistory">
        update tb_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="detailId != null">detail_id = #{detailId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbHistoryById" parameterType="Long">
        delete from tb_history where id = #{id}
    </delete>

    <delete id="deleteTbHistoryByIds" parameterType="String">
        delete from tb_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
